/* Оформление панели */
#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999;
    top: 0;
    left: -380px;
    background: #392121;
    transition: all 0.5s;
    width: 340px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 26px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #999999;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    text-align: center;
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    padding: 4px 10px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Light', Тahoma, sans-serif;
    letter-spacing: 1px;
    user-select: none;
    background: #721919;
    cursor: pointer;
    border-radius: 5px;

    max-width: 80px;
}

.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
    background: #a30000;
}

/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}

/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 34px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    user-select: none;
    transform: rotate(45deg);
    color: #FFFFFF;
    transition: all 280ms ease-in-out;
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);
    color: #FFF;
}
/*

ul {
    font-size: 20px;
    padding: 3px;
    user-select: none;
    cursor: pointer;
    list-style-type: none;
}

ul > li {
    margin-top: 20px;
    font-family: "Roboto Light", sans-serif;
}
*/
