.logo {
    margin: 0 auto;
    background-image: url(./../../images/logomini.png);
    background-size: cover;
    z-index: 2;
    height: 260px;
    width: 280px;
    margin-top: 40px;
    margin-bottom: 40px;
    max-height: 350px;
}