h3 {
    display: flex;
    align-content: center;
    justify-content: center;

    font-size: 32px;
    font-family: Roboto Slab, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 84px;

    color: #301D0B;

    mix-blend-mode: normal;
    text-shadow: 1px 2px 3px #603415;
}

.slider {

}