.OurWorks {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 80px;

    font-family: Roboto Slab, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 84px;

    color: #301D0B;

    mix-blend-mode: normal;
    box-sizing: border-box;
    text-shadow: 1px 2px 3px #603415;
}

.OurWorks > img {
    width: 80px;
    height: 80px;
    background-size: contain;
    margin-top: -40px;
}

.imageCard > img {
    height: 350px;
    width: 300px;
    min-width: 350px;
    border: #721919 1px solid;
    padding: 5px;
}

.stylingCarousel {
    margin: 5px;
    padding: 5px;
}

.rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec.rec-dot_active {
    background: #a13d25;
    box-shadow: none;
}

.rec.rec-carousel-wrapper .rec-carousel button {
    background: #a13d25;
    color: #fff;
}
