.container {
    height: 50px;
    
    position: fixed;
    width: 100%;
    max-width: 1440px;
    background-color: rgba(231, 227, 226, 0.22);
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    z-index: 1000;
}

.menu {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: 10px;
    align-self: center;

    background-image: url(./../../images/menusvg.svg);
    width: 30px;
    height: 30px;

}

.ul {
    display: grid;

    user-select: none;
    cursor: pointer;
    align-content: center;
    justify-items: center;
    align-items: stretch;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;

    color: black;
}

.ul > li:nth-child(1):before {
    content: "";
    position: relative;
    float: left;
    margin: 0px 10px 0 0;
    width: 20px;
    height: 20px;
    background: url(./../../images/instPurpleSVG.svg);
    user-select: none;
    cursor: pointer;
}

.ul > li:nth-child(2):before {
    content: "";
    position: relative;
    float: left;
    margin: 0px 10px 0 0;
    width: 20px;
    height: 20px;
    background: url(./../../images/VKsvg.svg);
    user-select: none;
    cursor: pointer;
}

.ul > li:nth-child(3):before {
    content: "";
    position: relative;
    float: left;
    margin: 0px 10px 0 0;
    width: 20px;
    height: 21px;
    background: url(./../../images/YTsvg.svg);
    user-select: none;
    cursor: pointer;
}