.container {
    height: 50px;
    
    position: fixed;
    width: 100%;
    max-width: 1440px;
    background-color: rgba(231, 227, 226, 0.22);
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    z-index: 1000;
}

.ul {
    display: grid;

    user-select: none;
    cursor: pointer;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;

    color: black;
}

.ul > li:nth-child(1):before {
    content: "";
    position: relative;
    float: left;
    margin: 3px 5px 0 0;
    width: 20px;
    height: 20px;
    background: url(./../../images/instPurpleSVG.svg);
    user-select: none;
    cursor: pointer;
}

.ul > li:nth-child(2):before {
    content: "";
    position: relative;
    float: left;
    margin: 3px 5px 0 0;
    width: 20px;
    height: 20px;
    background: url(./../../images/VKsvg.svg);
    user-select: none;
    cursor: pointer;
}

.ul > li:nth-child(3):before {
    content: "";
    position: relative;
    float: left;
    margin: 3px 5px 0 0;
    width: 20px;
    height: 21px;
    background: url(./../../images/YTsvg.svg);
    user-select: none;
    cursor: pointer;
}

.ul > li:nth-child(4):before {
    content: "";
    position: relative;
    float: left;
    margin: 3px 5px 0 0;
    width: 20px;
    height: 21px;
    background: url(./../../images/whatsup.svg);
    user-select: none;
    cursor: pointer;
}

.ul > li > a {
    text-decoration: none;
    color: black  ;
}

.ul > li > a:hover {
    text-decoration: none;
    color: #a13d25;
}

