.aboutModule {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background: #a13d25;
}

.tellAbout {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    font-family: Roboto Slab, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 84px;

    color: #ffffff;

    mix-blend-mode: normal;
    box-sizing: border-box;
    text-shadow: 1px 2px 3px #603415;
}

.mainInfo {
    display: flex;
    justify-content: center;

    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    mix-blend-mode: normal;
    box-sizing: border-box;

    color: #efeaea;

    text-shadow: 1px 2px 2px #603415;
    margin-right: 100px;
    margin-left: 100px;

}

.coffeeImg {
    background-size: cover;
    background-image: url(../../../images/MainPage/aboutUs/coffeefull.png);
    opacity: 0.8;
    width: 100%;
}

.instrument {
    background-size: cover;
    background-image: url(../../../images/MainPage/aboutUs/inst1.png);

    width: 305px;
    height: 255px;
}