.tabAbout {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    font-family: Roboto Slab, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 84px;

    color: #603415;

    mix-blend-mode: normal;
    box-sizing: border-box;
    text-shadow: 1px 2px 3px #603415;
}


.tableImg > img {
    width: 70%;
    height: 70%;
    border: 1px solid #828282;
    padding: 10px;
    margin-top: 20px;
    margin-left: 80px;

}

@media (max-width: 800px) {
    .tableImg > img {
        margin-left: 40px;
    }
}

@media (max-width: 400px) {
    .tableImg > img {
        margin-left: 10px;
        width: 90%;
        height: 90%;
    }
}