* {
  margin: 0;
  padding: 0;
}
.grid_container {
  margin: 0 auto;
  display: grid;
  
  grid-template-areas: 
  "header"
  "logo"
  "slider"
  "info"
  "tabSort"
  "callus"
  "comments";

  grid-template-rows: 50px 1fr 2fr;

  max-width: 1440px;

  background-image: url(./images/background.jpg);
  background-size: cover;
}

.Header {
  grid-area: header;
}

.Logo {
  grid-area: logo;
}

.Slider {
  grid-area: slider;
}

.TellAbout {
  grid-area: info;
}

.TabSort {
  grid-area: tabSort;
}

.Callus {
  grid-area: callus;
}

Comments {
  grid-area: comments;
}